In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
import seaborn as sns
import requests

In [2]:
api_key = "0fecc2c4c89ffb94c6f4fed5e5cdad57"
base_url = "https://api.themoviedb.org/3"

In [ ]:
# list of movie IDs
movie_ids = [0, 299534, 19995, 140607, 299536, 597, 135397, 
             420818, 24428, 168259, 99861, 284054, 12445, 
             181808, 330457, 351286, 109445, 321612, 260513]

# List to store data
movie_data = []

# Loop to Fetch data for each movie ID
for movie_id in movie_ids:
    if movie_id == 0:  # Skip invalid ID
        continue
        
    # Endpoint for movie details
    movie_endpoint = f"{base_url}/movie/{movie_id}"
    
    # Parameters
    params = {
        "api_key": api_key,
        "append_to_response": "credits,keywords,release_dates,revenue,budget,production_countries,production_companies,cast,cast_size,crew_size,popularity,runtime"
    }
    
    #  API request
    response = requests.get(movie_endpoint, params=params)
    
    # Checking if request was successful
    if response.status_code == 200:
        data = response.json()
        movie_data.append(data)
        print(f"Successfully fetched data for movie ID: {movie_id}")
    else:
        print(f"Failed to fetch data for movie ID: {movie_id}. Status code: {response.status_code}")
    
    # delay to avoid rate limiting
    time.sleep(0.25)

try:
    # Convert to DataFrame
    if movie_data:
        # Extract relevant fields from the complex JSON response
        movies_df = pd.DataFrame([
            {
                'id': movie.get('id'),
                'title': movie.get('title'),
                'tagline': movie.get('tagline'), 
                'release_date': movie.get('release_date'),
                'genres': [genre['name'] for genre in movie.get('genres', [])],
                'belongs_to_collection': movie.get('belongs_to_collection'),
                'original_language': movie.get('original_language'),
                'budget': movie.get('budget'),
                'revenue': movie.get('revenue'),
                'runtime': movie.get('runtime'),
                'vote_average': movie.get('vote_average'),
                'vote_count': movie.get('vote_count'),
                'popularity': movie.get('popularity'),
                'production_countries': movie.get('production_countries'),
                'director': [crew['name'] for crew in movie.get('credits', {}).get('crew', []) 
                           if crew.get('job') == 'Director'],
                'production_companies': [company['name'] for company in movie.get('production_companies', [])]
            }
            for movie in movie_data
        ])
except Exception as e:
    print(f"Error fetching data for movie ID {movie_id}: {str(e)}")

# Save raw data to CSV
movies_df.to_csv("raw_movie_data.csv", index=False)
print("Data saved to raw_movie_data.csv")

Successfully fetched data for movie ID: 299534
Successfully fetched data for movie ID: 19995
Successfully fetched data for movie ID: 140607
Successfully fetched data for movie ID: 299536
Successfully fetched data for movie ID: 597
Successfully fetched data for movie ID: 135397
Successfully fetched data for movie ID: 420818
Successfully fetched data for movie ID: 24428
Successfully fetched data for movie ID: 168259
Successfully fetched data for movie ID: 99861
Successfully fetched data for movie ID: 284054
Successfully fetched data for movie ID: 12445
Successfully fetched data for movie ID: 181808
Successfully fetched data for movie ID: 330457
Successfully fetched data for movie ID: 351286
Successfully fetched data for movie ID: 109445
Successfully fetched data for movie ID: 321612
Successfully fetched data for movie ID: 260513
Data saved to raw_movie_data.csv

In [ ]:
# Display columns
pd.set_option('display.max_columns', None)

In [ ]:
# Trying to see all columns in a list
print("\nColumns in DataFrame:")
print(movies_df.columns.tolist())

Columns in DataFrame:
['id', 'title', 'tagline', 'release_date', 'genres', 'belongs_to_collection', 'original_language', 'budget', 'revenue', 'runtime', 'vote_average', 'vote_count', 'popularity', 'production_countries', 'director', 'production_companies']

In [36]:
movies_df

,id,title,tagline,release_date,genres,belongs_to_collection,original_language,budget,revenue,runtime,vote_average,vote_count,popularity,production_countries,director,production_companies
0,299534,Avengers: Endgame,Avenge the fallen.,2019-04-24,"[Adventure, Science Fiction, Action]","{'id': 86311, 'name': 'The Avengers Collection...",en,356000000,2799439100,181,8.238,26206,22.2597,"[{'iso_3166_1': 'US', 'name': 'United States o...","[Anthony Russo, Joe Russo]",[Marvel Studios]
1,19995,Avatar,Enter the world of Pandora.,2009-12-15,"[Action, Adventure, Fantasy, Science Fiction]","{'id': 87096, 'name': 'Avatar Collection', 'po...",en,237000000,2923706026,162,7.588,32108,31.3525,"[{'iso_3166_1': 'US', 'name': 'United States o...",[James Cameron],"[Dune Entertainment, Lightstorm Entertainment,..."
2,140607,Star Wars: The Force Awakens,Every generation has a story.,2015-12-15,"[Adventure, Action, Science Fiction]","{'id': 10, 'name': 'Star Wars Collection', 'po...",en,245000000,2068223624,136,7.262,19665,12.7841,"[{'iso_3166_1': 'US', 'name': 'United States o...",[J.J. Abrams],"[Lucasfilm Ltd., Bad Robot]"
3,299536,Avengers: Infinity War,Destiny arrives all the same.,2018-04-25,"[Adventure, Action, Science Fiction]","{'id': 86311, 'name': 'The Avengers Collection...",en,300000000,2052415039,149,8.236,30386,32.6907,"[{'iso_3166_1': 'US', 'name': 'United States o...","[Anthony Russo, Joe Russo]",[Marvel Studios]
4,597,Titanic,Nothing on Earth could come between them.,1997-11-18,"[Drama, Romance]",None,en,200000000,2264162353,194,7.905,25865,31.6333,"[{'iso_3166_1': 'US', 'name': 'United States o...",[James Cameron],"[Paramount Pictures, 20th Century Fox, Lightst..."
5,135397,Jurassic World,The park is open.,2015-06-06,"[Action, Adventure, Science Fiction, Thriller]","{'id': 328, 'name': 'Jurassic Park Collection'...",en,150000000,1671537444,124,6.700,20623,19.5099,"[{'iso_3166_1': 'US', 'name': 'United States o...",[Colin Trevorrow],"[Amblin Entertainment, Universal Pictures]"
6,420818,The Lion King,The king has returned.,2019-07-12,"[Adventure, Drama, Family, Animation]","{'id': 762512, 'name': 'The Lion King (Reboot)...",en,260000000,1662020819,118,7.109,10301,22.2842,"[{'iso_3166_1': 'US', 'name': 'United States o...",[Jon Favreau],"[Walt Disney Pictures, Fairview Entertainment]"
7,24428,The Avengers,Some assembly required.,2012-04-25,"[Science Fiction, Action, Adventure]","{'id': 86311, 'name': 'The Avengers Collection...",en,220000000,1518815515,143,7.734,31503,33.8215,"[{'iso_3166_1': 'US', 'name': 'United States o...",[Joss Whedon],[Marvel Studios]
8,168259,Furious 7,Vengeance hits home.,2015-04-01,"[Action, Thriller, Crime]","{'id': 9485, 'name': 'The Fast and the Furious...",en,190000000,1515400000,137,7.225,10760,14.2561,"[{'iso_3166_1': 'US', 'name': 'United States o...",[James Wan],"[Original Film, One Race, Universal Pictures]"
9,99861,Avengers: Age of Ultron,A new age has come.,2015-04-22,"[Action, Adventure, Science Fiction]","{'id': 86311, 'name': 'The Avengers Collection...",en,365000000,1405403694,141,7.271,23345,17.2051,"[{'iso_3166_1': 'US', 'name': 'United States o...",[Joss Whedon],[Marvel Studios]
10,284054,Black Panther,Long live the king.,2018-02-13,"[Action, Adventure, Science Fiction]","{'id': 529892, 'name': 'Black Panther Collecti...",en,200000000,1349926083,135,7.373,22487,18.2929,"[{'iso_3166_1': 'US', 'name': 'United States o...",[Ryan Coogler],[Marvel Studios]
11,12445,Harry Potter and the Deathly Hallows: Part 2,It all ends.,2011-07-12,"[Fantasy, Adventure]","{'id': 1241, 'name': 'Harry Potter Collection'...",en,125000000,1341511219,130,8.087,20935,18.2595,"[{'iso_3166_1': 'GB', 'name': 'United Kingdom'...",[David Yates],"[Warner Bros. Pictures, Heyday Films]"
12,181808,Star Wars: The Last Jedi,Darkness rises...and light to meet it.,2017-12-13,"[Adventure, Action, Science Fiction]","{'id': 10, 'name': 'Star Wars Collection', 'po...",en,200000000,1332698830,152,6.779,15532,13.8661,"[{'iso_3166_1': 'US', 'name': 'United States o...",[Rian Johnson],[Lucasfilm Ltd.]
13,330457,Frozen II,The past is not what it seems.,2019-11-20,"[Family, Animation, Adventure, Comedy, Fantasy]","{'id': 386382, 'name': 'Frozen Collection', 'p...",en,150000000,1453683476,103,7.250,9867,11.1016,"[{'iso_3166_1': 'US', 'name': 'United States o...","[Jennifer Lee, Chris Buck]","[Walt Disney Pictures, Walt Disney Animation S..."
14,351286,Jurassic World: Fallen Kingdom,The park is gone.,2018-06-06,"[Action, Adventure, Science Fiction, Thriller]","{'id': 328, 'name': 'Jurassic Park Collection'...",en,170000000,1310466296,129,6.538,12004,14.0844,"[{'iso_3166_1': 'US', 'name': 'United States o...",[J.A. Bayona],"[Amblin Entertainment, Universal Pictures]"
15,109445,Frozen,Only the act of true love will thaw a frozen h...,2013-11-20,"[Animation, Family, Adventure, Fantasy]","{'id': 386382, 'name': 'Frozen Collection', 'p...",en,150000000,1274219009,102,7.200,16777,20.7782,"[{'iso_3166_1': 'US', 'name': 'United States o...","[Chris Buck, Jennifer Lee]","[Walt Disney Pictures, Walt Disney Animation S..."
16,321612,Beauty and the Beast,Be our guest.,2017-03-16,"[Family, Fantasy, Romance]",None,en,160000000,1266115964,129,6.971,15584,17.1086,"[{'iso_3166_1': 'US', 'name': 'United States o...",[Bill Condon],"[Walt Disney Pictures, Mandeville Films]"
17,260513,Incredibles 2,"It's been too long, dahlings.",2018-06-14,"[Action, Adventure, Animation, Family]","{'id': 468222, 'name': 'The Incredibles Collec...",en,200000000,1242805359,118,7.454,13021,9.8992,"[{'iso_3166_1': 'US', 'name': 'United States o...",[Brad Bird],"[Walt Disney Pictures, Pixar]"